
* {
    margin: 0;
    padding: 0;
  }

.text-center {
  text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300vh; 
  }
  
  body {
    background-color: #c7eff6;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }
  
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  

  p {
    font-size: 16px;
    margin-bottom: 15px;
  }


  


  